.header{
    display : flex;
    justify-content: space-between;
    padding: 5px;
    background-color: #99A98F;
}
.title{
    padding : 5px;
    background-color : #D6E8DB;
}
.icon{
    background-color: #FFF8DE;
}