.h1{
    font-size: x-large;
    margin: 12;
}
.boose{
    display: flex;
    margin: 8px;
    flex-direction: column;
    >.booseHead{
        display: flex;
        padding: 8px;
    }
    >.booseBody{
        display: flex;
        flex-direction: column;
        padding: 8px;

        >.booseImg{
            width: auto;
            max-height: 200px;
        }
    }
}
.goods{
    display: flex;

    >.goodsImg{
        display: flex;
        flex-direction: column;
        width: 60%;
        >.inputTitle{
            padding: 4px;
            border: 1px solid;
            border-color: black;
            display: flex;
            justify-content: center;
        }
        >.img{
            width: 100%;
            height: auto;
            padding: 4px;
            border: 1px solid;
            border-color: black;
            display: flex;
            justify-content: center;
        }
    }

    >.table{
        width: 40%;
        display: flex;
        flex-direction: column;

        >.tableHead{
            width: 100%;
            display: grid;
            grid-template-columns: 6fr 3fr 1fr;

            >.inputTitle{
                padding: 4px;
                border: 1px solid;
                border-color: black;
                display: flex;
                justify-content: center;
            }
        }

        >.tableBody{
            width: 100%;
            display: flex;
            flex-direction: column;

            >.inputContext{
           
                display: flex;
                justify-content: center;

                >.input{
                    width: 100%;
                    padding: 4px;
                    border: 1px solid;
                    border-color: black;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}

.goodsSubmit{
    width: 100%;
    background-color: #D6E8DB;
    border-radius: 16px;
    border-width: 4px;
    border-color: #99A98F;
}