.imgContainer{
  display : flex;
  justify-content: space-around;
  padding: 5px;
  
}
.imgColum{
  display : flex;
  padding : 5px;
  width: 48%;
  flex-direction: column;
}

.img{
  width: 100%;
  height: auto;
  padding: 4px;

  display: flex;
  justify-content: center;
}
